extends layout.pug 

block content
  form(action='/create-blog' method='POST')
    label(for="blogTitle") Blog Title:
    input(name='blogTitle')
    br
    label(for="blogPost") Blog Content:
    textarea(name='blogPost' rows='5')
    br
    button(type='submit') Publish
  table 
    if data.length !== 0
      each row in data 
          tr 
            each field in Object.keys(row)
              td= row[field]
            td 
              //- A tutorial suggested passing data-id to update and delete.
              //- This won't work alone for multiple users who own blogs and would require more server level validation.
              //- ie. We don't want html data-id edits to allow other users to update/delete other blogs.
              button(type='submit' class="update-row-btn" dataId= row.blogID) Update
            td 
              button(type='submit' class="delete-row-btn" dataId= row.blogID) Delete
    else 
      tr No blog posts found.

block additionalScripts 
  script(src='/services/addButtonFunctions.js')