form(action='/create-post' method='POST')
  input(name='postTitle' placeholder='blog title')
  br
  textarea(name='blogpost' rows='5' placeholder='Write a new blog post!')
  button(type='submit') Publish
