extends layout.pug 
block content
  h1 Welcome to the Home Page
  img(src="img/markus-spiske-iar-afB0QQw-unsplash.jpg", width=200, height=200)
  br
  audio(controls="controls") 
    source(src="audio/4-The-Elements.mp3", type="audio/mp3")
  
