doctype html
html(lang="en")
  head
    title My Site - #{title}
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home Page
    link#styleToChange(rel='stylesheet' href='styles.css')
  body(onload="changeStyleByTime()")
    .topnav
      a(href='/home') Home
      a(href='/about') About
      a(href='/contact') Contact
      a(href='/blogPosts') Blog Posts
      a(href='/register') Register
      a(href='/login') Login
    block content
      p Hello World
    block foot
      #footer
        p Author: &copy; Mackenzie Whitney
  script.
    function changeStyleByTime() {
    const currentHour = new Date().getHours();
    // const currentHour = 15;
    console.log(currentHour);
    document.body.classList.remove("morning");
    document.body.classList.remove("evening");
    document.body.classList.add(`${currentHour <= 12 ? "morning" : "evening"}`)
    }